
header {
    background-color: purple;
    color: white;
    margin: 1rem;
}

a {
    color: white;
}


#listado-paginas {
    display: flex;
}

.ruta-pagina {
    margin: 1rem;
}

footer {
    text-align: center;
}
